.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 20px;
	max-height: 20px;
	border-radius: 50%;
	background: rgba(217, 217, 217, 0.5);
	border-width: 1px;
	border-style: solid;
	text-align: center;
	cursor: pointer;

	margin: 0px 11px 0px 0px;
}

.nodisplay {
	display: none;
}
.display {
	display: inline-block;
}
