.view {
	width: 100%;
	transition: all 150ms linear;
	// .view__header
	&__header {
		display: flex;
		align-items: center;

		margin: 0px 0px 46px 0px;
	}

	// .view__title
	&__title {
		color: #000;
		font-size: 20px;
		line-height: 24 / 20 * 100%;
		font-weight: 600;
		margin: 0px 15px 0px 0px;
	}

	&__date {
		color: #9d9d9d;
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		font-weight: 400;
	}
}
.body {
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: 0px;
	max-height: 70vh;

	&::-webkit-scrollbar {
		width: 0px;
	}

	// .body__title
	&__title {
		color: #000;
		font-weight: 600;
		font-size: 16px;
		line-height: 20 /16 * 100%;
		margin: 0px 0px 12px 0px;
		padding: 0px 0px 12px 0px;
		border-bottom: 0.5px solid #dadada;
	}

	// .body__tasksWrapper
	&__tasksWrapper {
		display: flex;
		flex-direction: column;
	}

	&__areaMessage {
		word-wrap: break-word;
		align-self: center;
		width: 60%;
		margin: 20px 0px 0px 0px;
		font-size: 14px;
		text-align: center;
	}
}
.taskSection {
	margin: 0px 0px 46px 0px;
}
