.loader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px dashed #fff;
	animation: loading 1.5s infinite;
	margin: 0 auto;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
