.svg {
	width: 3.75em;
	transform-origin: center;
	animation: rotate 2s linear infinite;
}

.circle {
	fill: none;
	stroke-width: 3;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dashoffset: -125px;
	}
}
.list {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width: 2em;

	&__span {
		width: 0.3em;
		height: 0.5em;
		background-color: #553fdb;
	}

	&__span:nth-of-type(1) {
		animation: grow 1s -0.45s ease-in-out infinite;
	}

	&__span:nth-of-type(2) {
		animation: grow 1s -0.3s ease-in-out infinite;
	}

	&__span:nth-of-type(3) {
		animation: grow 1s -0.15s ease-in-out infinite;
	}

	&__span:nth-of-type(4) {
		animation: grow 1s ease-in-out infinite;
	}
}

@keyframes grow {
	0%,
	100% {
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(2);
	}
}
