.headerIsert {
	background: #f7f7f7;
	border-radius: 10px 10px 0px 0px;
	width: 400px;
	min-height: 36px;
	border-bottom: 2px solid #e0e0e0;
}
.title {
	display: inline-block;
	line-height: 17 / 14 * 100%;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 14px 0px 10px 13px;
}
