.headerIsert {
	background: #f7f7f7;
	border-radius: 10px 10px 0px 0px;
	min-width: 275px;
	min-height: 36px;
	border-bottom: 2px solid #e0e0e0;
}
.title {
	display: inline-block;
	line-height: 12 / 10 * 100%;
	font-size: 10px;
	font-weight: 500;
	color: #000;
	margin: 14px 0px 10px 13px;
}
