.headerInsert {
	background: #f7f7f7;
	border-radius: 10px 10px 0px 0px;
	max-height: 55px;
	height: 45px;
	border-bottom: 2px solid #e0e0e0;
	width: 100%;
}
.title {
	line-height: 17 / 14 * 100%;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	padding: 14px 0px 0px 13px;
}
