{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-console": "warn",
    "quotes": ["error", "double"],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-const": "warn",
    "max-len": ["warn", { "code": 120 }],
    "semi": ["warn", "always"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ],
    "camelcase": "error"
  }
}
