.select {
	&__control {
		width: 350px !important;
		max-height: 26px !important;
		min-height: max-content !important;
		border: 0.5px solid #8b8b8b !important;
		align-content: center !important;
		cursor: pointer !important;

		&--is-focused {
			box-shadow: none !important;
		}
	}
	&__control--menu-is-open &__indicators &__indicator {
		animation: rotate 0.2s ease-in-out forwards;
	}
	&__indicator-separator {
		display: none !important;
	}
	&__indicator {
		cursor: pointer !important;
	}
	&__single-value {
		font-size: 10px !important;
		line-height: 12 / 10 * 100% !important;
		font-weight: 400 !important;
		color: #000 !important;
	}
	&__option {
		font-size: 10px !important;
		line-height: 12 / 10 * 100% !important;
		font-weight: 400 !important;
		color: #000 !important;
		&:hover {
			cursor: pointer !important;
		}
	}
	&__menu {
		animation: scaleIn 0.2s ease-in-out;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(90deg) scale(1.3);
	}
	100% {
		transform: rotate(180deg) scale(1);
	}
}

@keyframes scaleIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}
