.tip {
	width: 300px;
	min-height: 30px;
	background-color: #9d90ed;
	border-radius: 5px;
	position: absolute;
	transform: translateY(10px);

	// .tip__polygon
	&__polygon {
		position: absolute;
		fill: #9d90ed;
		transform: translateY(-50%) translateX(20%);
	}

	&__content {
		margin: 10px;
	}
}
.error {
	&::before {
		content: "✗ ";
	}
	color: red;
}

// .tip__success
.success {
	&::before {
		content: "✓ ";
	}
	color: green;
}

.message {
	font-size: 12px;
	line-height: 16 / 12 * 100%;
	font-weight: 600;
	margin: 0px 10px 0px 0px;
}
