.commentary {
	display: flex;

	// .commentary__logoBG
	&__logoBG {
		width: 25px;
		height: 25px;
		background-color: #d9d9d9;
		border-radius: 50%;
		margin: 0px 10px 0px 0px;
	}

	// .commentary__data
	&__data {
	}

	// .commentary__header
	&__header {
		display: flex;
		margin: 0px 0px 4px 0px;
	}

	// .commentary__email
	&__email {
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		color: #4c4c4c;
		font-weight: 400;
		margin: 0px 11px 0px 0px;
	}

	// .commentary__date
	&__date {
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		color: #9d9d9d;
		font-weight: 400;
	}

	// .commentary__content
	&__content {
		font-size: 12px;
		width: 345px;
		line-height: 14 / 12 * 100%;
		font-weight: 400;
		color: #252525;

		height: fit-content;
	}
}
