.commentary {
	display: flex;
	margin: 0px 0px 20px 5px;
	// .commentary__logoBG
	&__logoBG {
		min-width: 25px;
		min-height: 25px;
		max-height: 25px;
		background-color: #d9d9d9;
		border-radius: 50%;
		margin: 0px 10px 0px 0px;
	}

	// .commentary__data
	&__data {
	}

	// .commentary__header
	&__header {
		display: flex;
		margin: 0px 0px 4px 0px;
	}

	// .commentary__email
	&__email {
		max-width: 40%;
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		color: #4c4c4c;
		font-weight: 400;
		margin: 0px 11px 0px 0px;
	}

	// .commentary__date
	&__date {
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		color: #9d9d9d;
		font-weight: 400;
	}

	// .commentary__content
	&__content {
		font-size: 12px;
		width: 345px;
		line-height: 14 / 12 * 100%;
		font-weight: 400;
		color: #252525;
		overflow: wrap;
		word-wrap: break-word;
		height: fit-content;
		@media (max-width: 469.98px) {
			width: 250px;
		}
		@media (max-width: 404.98px) {
			width: 200px;
		}
	}
}
