.task {
	display: flex;
	width: 800px;
	margin: 0px 0px 15px 0px;
	padding-bottom: 10px;
	border-bottom: #dadada 1px solid;

	// .task__data
	&__data {
		width: 100%;
		@media (min-width: 991.98px) {
			cursor: pointer;
		}
	}
	// .task__name
	&__name {
		width: 83%;
		font-size: 16px;
		font-weight: 400;
		color: #4d4d4d;
		margin: 0px 0px 4px 0px;
	}
	// .task__description
	&__description {
		font-size: 14px;
		font-weight: 300;
		color: #8b8b8b;

		margin: 0px 0px 10px 0px;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .task__date {
	&__date {
		display: flex;
		align-items: center;
	}

	// .task__from
	&__from {
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		width: 40%;
		color: #8b8b8b;
		text-align: right;
	}
}

.expired {
	background-color: #ef3a3a;
	width: fit-content;
	color: white;
	padding: 5px;
	line-height: 14 /12 * 100%;
	font-size: 12px;
	border-radius: 4px;
	font-weight: 600;
	margin: 0px 0px 0px 10px;
}
