.sidebar {
	width: 197px;
	background: rgba(231, 231, 231, 0.5);
	min-height: 100%;
	padding: 25px 0px 0px 31px;

	// .sidebar__list
	&__list {
		margin: 0px 0px 24px 0px;
	}

	// .sidebar__header
	&__header {
		color: #757575;
		font-size: 14px;
		line-height: 15 / 12 * 100%;
		font-weight: 400;
		margin: 0px 0px 3px 0px;
	}

	// .sidebar__data
	&__data {
		display: flex;
		align-items: center;
		div {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 0px 3px 0px 0px;
		}
	}

	// .sidebar__listName
	&__listName {
		font-weight: 400;
		font-size: 13px;
		line-height: 12 / 10 * 100%;
		color: #252525;
	}
}
