.sidebar {
	@media (max-width: 681px) {
		display: none;
	}
	width: 197px;
	background: rgba(231, 231, 231, 0.5);
	min-height: 100%;
	padding: 20px 0px 0px 15px;
	border-radius: 0px 0px 10px 0px;

	// .sidebar__section

	&__section {
		&:first-child {
			margin: 0px 0px 14px 0px;
		}
	}

	// .sidebar__header
	&__header {
		color: #757575;
		font-size: 14px;
		line-height: 15 / 12 * 100%;
		font-weight: 400;
		margin: 0px 0px 3px 0px;
	}

	// .sidebar__data
	&__data {
		display: flex;
		align-items: center;
		div {
			min-width: 10px;
			min-height: 10px;
			border-radius: 50%;
			margin: 0px 3px 0px 0px;
		}
	}

	// .sidebar__listName
	&__listName {
		font-weight: 400;
		font-size: 13px;
		line-height: 12 / 10 * 100%;
		color: #252525;
		@media (max-width: 681px) {
			width: 80%;
		}
		@media (max-width: 469px) {
			width: 75%;
		}
		@media (max-width: 404px) {
			width: 50%;
		}
	}
}
