.bold {
	font-size: 14px;
	line-height: 17 / 14 * 100%;
	font-weight: 400;
	color: #252525;
	width: 80%;
	@media (max-width: 469.98px) {
		width: 70%;
	}
	@media (max-width: 404px) {
		width: 70%;
	}
}

.light {
	font-weight: 400;
	font-size: 12px;
	line-height: 15 / 12 * 100%;
	color: #757575;
	width: 80%;
	overflow: wrap;
	word-wrap: break-word;

	@media (max-width: 469.98px) {
		width: 70%;
	}
	@media (max-width: 404.98px) {
		width: 70%;
	}
}

.textEditor {
	display: flex;
	width: 100%;
}

.input {
	width: 80%;
	@media (max-width: 469.98px) {
		width: 70%;
	}
	@media (max-width: 404px) {
		width: 70%;
	}
}

.textarea {
	width: 80%;
	min-height: 135px;
	resize: vertical;
	@media (max-width: 404px) {
		max-width: 70%;
	}
}
