.header {
	height: 50px;
	background-color: #553fdb;

	// .header__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
	}

	// .header__profileBackground
	&__profileBackground {
		width: 25px;
		height: 25px;
		background-color: #fff;
		border-radius: 50%;
	}
}
