%hover {
	@media (min-width: 767.98px) {
		transition: all 150ms linear;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.header {
	height: 50px;
	background-color: #553fdb;

	// .header__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	// .header__profileBackground
	&__profileBackground {
		width: 25px;
		height: 25px;
		background-color: #fff;
		border-radius: 50%;
		margin-right: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 28px;
		color: #553fdb;
		&:hover {
			cursor: default;
		}
	}

	// .header__rightSection
	&__rightSection {
		display: flex;
	}

	// .header__logout
	&__logout {
		fill: #ffffff;
		min-width: 25px;
		min-height: 25px;

		@extend %hover;

		&:hover {
			fill: rgba(#b09aff, 0.8);
		}
	}
}
.burger {
	width: 25px;
	height: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@extend %hover;

	span {
		transition: all 0.3s ease 0s;
		display: block;
		width: 25px;
		height: 2px;
		border-radius: 10px;
		background-color: #fff;
	}

	&:hover {
		span {
			background-color: rgba(#b09aff, 0.8);
		}
	}

	&__active {
		@media (max-width: 767.98px) {
			span {
				transform: scale(0);
				&:first-child {
					transform: translateY(6px) rotate(45deg);
					top: calc(50%);
				}
				&:last-child {
					transform: translateY(-6px) rotate(-45deg);
					bottom: calc(50%);
				}
			}
		}
	}
}
