.header {
	height: 50px;
	background-color: #553fdb;

	// .header__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	// .header__burger
	&__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;

		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
	}

	// .header__profileBackground
	&__profileBackground {
		width: 25px;
		height: 25px;
		background-color: #fff;
		border-radius: 50%;
	}
}
