.authorization {
	min-width: 450px;
	min-height: 445px;
	background: #553fdb;
	border-radius: 10px;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__error {
		color: red;
		margin: 0px 0px 10px 0px;
	}
}
