.button {
	border-radius: 5px;
	width: 85px;
	height: 24px;

	// .button__action
	&__action {
		background-color: #553fdb;
		color: #fff;
	}

	// .button__cancel
	&__cancel {
		background-color: #ebebeb;
		border: 1px solid #e0e0e0;
		color: #000;
	}

	// .button__text
	&__text {
		line-height: 16 / 10 * 100%;
		font-size: 10px;
		font-weight: 600;
	}

	@media (min-height: 991.98px) {
		&:hover {
			cursor: pointer;
		}
	}
}
