.sign {
	margin-top: 110px;

	@media (max-width: 1135px) {
		margin-top: 86px;
	}

	@media (max-width: 767.98px) {
		margin-top: 40px;
	}
	@media (max-width: 479.98px) {
		margin-top: 20px;
	}

	// .registration__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 1135px) {
			flex-direction: column;
		}
	}
}

.welcome {
	margin-right: 32px;

	@media (max-width: 1200px) {
		margin-right: 0px;
	}

	// .welocme__message
	&__message {
		white-space: nowrap;
		font-weight: 800;
		font-size: 36px;
		line-height: 44 / 36 * 100%;

		color: #553fdb;
		text-align: center;

		@media (max-width: 1135px) {
			margin-bottom: 46px;
		}

		@media (max-width: 546px) {
			font-size: 28px;
		}

		@media (max-width: 479.98px) {
			line-height: 28 / 24 * 100%;
			font-size: 24px;
		}
		@media (max-width: 405px) {
			margin-bottom: 12px;
		}

		@media (max-width: 372px) {
			white-space: normal;
		}
	}

	// .welcome__img
	&__img {
		@media (max-width: 1135px) {
			display: none;
		}
	}
}
