.endtime {
	display: flex;
	align-items: center;

	// .endtime__box
	&__box {
		width: 6px;
		height: 6px;
		background-color: #a32828;
		margin: 0px 3px 0px 0px;
	}

	// .endtime__text
	&__text {
		font-weight: 400;
		font-size: 7px;
		line-height: 9 / 7 * 100%;
		color: #a32828;
	}
}
