.endtime {
	display: flex;
	align-items: center;

	// .endtime__box
	&__box {
		width: 10px;
		height: 10px;
		background-color: #a32828;
		margin: 0px 7px 0px 0px;
	}

	// .endtime__text
	&__text {
		white-space: nowrap;
		font-weight: 400;
		font-size: 12px;
		line-height: 11 / 9 * 100%;
		color: #a32828;
	}
}
