@use "sass:math";

//<normalize scss>//
@import-normalize;

//========================================================================================================================================================

//<Подключение шрифтов> Параметры для шрифтов: //1: &display=swap //2: &subset=cyrillic-ext
// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;800;900&display=swap");
//========================================================================================================================================================

//<Иконочный шрифт>//
//@import "lib/iconfont";
//========================================================================================================================================================

//<Импорт шрифтов>//
// @import "lib/fonts";
//========================================================================================================================================================
//<Миксины>//
// @import "lib/mixins";
//========================================================================================================================================================

//<Шрифт по умолчанию>//
$fontFamily: "Arial", serif;
//========================================================================================================================================================
//<Параметры страницы>//
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920;
//Ширина ограничивающего контейнера
$maxWidthContainer: 1920;
//<Переменные>//

//========================================================================================================================================================
//Брэйкпоинты
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//========================================================================================================================================================
//<nullstyle>//
@import "lib/null";
//<Основная адаптивная сетка>//
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: ($md1 + px)) {
		max-width: 960px;
	}
	@media (max-width: ($md2 + px)) {
		max-width: 730px;
	}
	@media (max-width: ($md3 + px)) {
		max-width: none;
		padding: 0 10px;
	}
}
//========================================================================================================================================================
//<Оболочка страницы>//
#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	> main {
		flex: 1 1 auto;
	}
}
//========================================================================================================================================================
//<Код>//
html,
body {
	font-family: $fontFamily, serif;
	font-size: 12px;
	font-weight: 500;
}
@media (max-width: ($md3 + px)) {
	*.lock {
		overflow: hidden;
	}

	.page .lock {
		pointer-events: none;
	}
}

//<reusable scss>//
//@import "lib/reusable.scss";

//========================================================================================================================================================
