@use "sass:math";

//<normalize scss>//
@import-normalize;

//========================================================================================================================================================

//<Подключение шрифтов> Параметры для шрифтов: //1: &display=swap //2: &subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");
//========================================================================================================================================================

//<Шрифт по умолчанию>//
$fontFamily: "Montserrat", sans-serif;
//========================================================================================================================================================
//<Параметры страницы>//
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920;
//Ширина ограничивающего контейнера
$maxWidthContainer: 1146;
//========================================================================================================================================================
//Брэйкпоинты
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//========================================================================================================================================================
//<nullstyle>//
@import "lib/null";
//<Основная адаптивная сетка>//
.nauth-container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 1200px) {
		max-width: 525px;
	}
	@media (max-width: 479.98px) {
		max-width: 470px;
	}
}
.auth-container {
	max-width: calc(100vw - (54px * 2));
	margin: 0 auto;
	height: 100%;

	@media (max-width: 479.98px) {
		max-width: 352px;
	}

	@media (max-width: 357px) {
		max-width: 310px;
	}
}

.home-container {
	width: 800px;
	height: fit-content;
	transition: all 450ms ease-in-out;

	@media (max-width: 1124px) {
		width: 663px;
	}
	@media (max-width: 991.98px) {
		width: 558px;
	}
	@media (max-width: 767.98px) {
		width: 590px;
	}
	@media (max-width: 696.98px) {
		width: calc(100vw - (54px * 2));
	}
	@media (max-width: 479.98px) {
		width: 351px;
	}
	@media (max-width: 357px) {
		width: 310px;
	}

	&__se {
		@media (max-width: 880.98px) {
			width: 462px;
		}
		@media (max-width: 767.98px) {
			width: 590px;
		}
		@media (max-width: 696.98px) {
			width: calc(100vw - (54px * 2));
		}
		@media (max-width: 479.98px) {
			width: 351px;
		}
		@media (max-width: 357px) {
			width: 310px;
		}
	}
}
//========================================================================================================================================================
//<Оболочка страницы>//
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}
//========================================================================================================================================================
html,
body {
	font-family: $fontFamily, serif;
	font-size: 12px;
	font-weight: 500;
}

//<reusable scss>//
@import "lib/reusable.scss";

//========================================================================================================================================================
