.taskInfo {
	display: flex;
	flex-direction: column;

	height: 620px;
	width: 670px;
	background-color: #fff;
	border-radius: 10px;

	scrollbar-width: 0px;

	&::-webkit-scrollbar {
		position: absolute;
		width: 0px;
	}

	@media (max-width: 681px) {
		width: 460px;
	}
	@media (max-width: 469px) {
		width: 400px;
	}
	@media (max-width: 404px) {
		width: 310px;
	}

	// .taskInfo__content
	&__content {
		display: flex;
	}

	// .taskInfo__dat
	&__data {
		width: 473px;
		height: 575px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		margin: 0px 0px 25px 25px;

		.wrapper::-webkit-scrollbar-track-piece:start {
			margin-top: 10px;
			height: 100px;
		}
		&::-webkit-scrollbar:horizontal {
			height: 100px;
		}

		@media (max-width: 681px) {
			width: 460px;
		}
	}

	// .taskInfo__nocomments
	&__nocomments {
		font-size: 14px;
		font-weight: 400;
		line-height: 16 / 14 * 100%;

		text-align: center;
		@media (max-width: 404px) {
			margin-right: 20px;
		}
	}

	&__smallInfo {
		display: none;
		margin-left: 10px;
		margin-bottom: 34px;
		@media (max-width: 681px) {
			display: block;
		}
	}
}
.task {
	margin: 25px 0px 46px 0px;
	display: flex;

	div {
		margin: 0px 13px 0px 0px;
	}

	// .task__info
	&__info {
		font-size: 14px;
		line-height: 17 / 14 * 100%;
		color: #252525;
		font-weight: 400;
		width: 100%;
	}

	// .task__name
	&__name {
		font-size: 14px;
		line-height: 17 / 14 * 100%;
		font-weight: 400;
		color: #252525;
	}
}
.description {
	display: flex;
	align-items: center;

	> svg {
		align-self: flex-start;
		margin: 0px 8px 0px 0px;
	}

	// .description__text
	&__text {
		font-weight: 400;
		font-size: 12px;
		line-height: 15 / 12 * 100%;
		color: #757575;
	}
}
